@model IEnumerable<GuestBook.Models.ReBook>

@{
    Layout = null;
    var Manager = Context.Session.GetString("Manager");

}

@if (Model.Count() != 0)
{
    <div class="border border-1 rounded p-4 bg-light">

        <h4 class="text-center mt-1 ">回覆內容</h4>

        @foreach (var item in Model)
        {
            <p>@Html.Raw(item.Description.ToString().Replace("\r\n", "<br>"))</p>

            <p class="text-end fs-6">@item.Author 於 @item.TimeStamp 回覆</p>
            <div class="text-end">
                @* <a href="#" class="btn btn-danger">刪除</a> *@

                @if (Manager != null)
                {
                    <form asp-action="DeleteReBook">
                        <input type="hidden" value="@item.RId" name="id" />
                        <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('您確定要刪除嗎？')" />
                    </form>
                }
            </div>
            <hr />

        }
    </div>
}